html {
	color: #000;
	font-size: 20px;
	letter-spacing: .30em;
	font-family: 'Work Sans', serif; 
	color: Grey;
	background: white;
}

body {
	width: 2000px;
	margin: 0 auto;
	overflow: hidden;
	
}

a{
  color:black;
  text-decoration:none;
}

a:visited{
  color:black;
}

a:hover{
  color: #BC6F6C;
  
}

#container{
}



#layout{
  position:absolute;
  margin-top:125px;
  margin-right:100px;
}




div {
 
	line-height: 4.5em;
	font-size: 1rem;
	font-weight: bold;
	text-align: right;
	margin: 10px 0; 
	font-family: 'Work Sans', sans-serif;
	position: fixed;
	z-index:1;
}



div a{
	color:black;

}


h1, h2 {
	text-align: right;

}


h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
	font-weight: bold;
	text-align:right;
	
}



h2 {
    font-family: 'Work Sans', sans-serif;
	text-align: right;
	font-size: 1.5rem;
	color: #BC6F6C;
	
}


h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
	font-weight: bold;
	text-align:justify;
	
}


