@import url('https://fonts.googleapis.com/css?family=Helvetica:400,500,700,900&display=swap');
body {
font-family: 'Helvetica', sans serif;
  padding: 10em 10em;
  font-size: 60px;
  text-align: justify;
  background: #222;
  background-size: cover;
 
}



h1 {
    text-align:center;
	color: orangered;
	font-size: 10em;
	font-weight: 500;
	letter-spacing: -5px;
	
	
}

h1>span {
	color:lightgray;
}

h2>span {
	color:lightgray;
}




