 
   body {
   
background:white;
 transition:all 0.3s ease;
}

.countdownContainer{
   position: absolute;;
   top: 20%;
   left: 10%
   transform: translateX(-50%) translateY(-50%);
   text-align: center; 
   padding:10px;
  font-size: 20px;
  display: flex;
  font-family: 'Work Sans';
  animation-name: animation-one;
  animation-duration: 4s;
  animation-iteration-count: infinite;
   }

.info {
font-size: 50px;
padding:10px;



}

.list{
font-size: 30px;
font-weight: 100px;

}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(-50deg);
  }
  to {
    transform: rotate(50deg);
  }
}



@keyframes animation-one {
  0% { color: #f5ad8c; }
  25% { color: lightblue; }
  50% { color: lightgray; }
  75% { color: lightblue; }
  100% { color: #f5ad8c; }

